footer {
    width: 100%;
    background-color: rgb(17, 15, 15);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer section {
    width: 100%;
    max-width: 1200px;
    padding: 50px 0;

    text-align: center;
}
footer p {
    font-size: 17px;
    font-weight: 600;
}
